{
  "env": {
    "browser": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "experimentalObjectRestSpread": true
  },
  "globals": {
    "React": true,
    "n": true,
    "piksha",
    "$",
    "_"
  },
  "plugins": [
    "react"
  ],
  "extends": "../../.eslintrc"
}
