@import 'bourbon';
@import 'neat';

$max-width: 1200px;
$gutter: 100px;
$copy-color: #424242;
$link-color: #105289;
$error-color: #BB0000;
$bg-color: #E0E0E0;
$ui-bg-color: darken($bg-color, 10);
$border-color: darken($bg-color, 20);
$border-radius: 20px;

body {
  background-color: $bg-color;
  color: $copy-color;
  font-size: 120%;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

fieldset, ul {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: darken($link-color, 5);
  }
}

#container {
  @include outer-container;
}

#login {
  @include span-columns(6);
  @include shift(3);
  margin-top: $gutter;
  padding: $gutter/2 $gutter;
  background-color: $ui-bg-color;
  border: thin $border-color solid;
  border-radius: $border-radius;

  input {
    display: block;
    text-align: center;
    margin: $gutter/4 auto;
    width: 100%;
  }
}

nav {
  @include span-columns(12);
  @include omega();
  display: block;
  margin-bottom: $gutter/2;
  a {
    margin-right: $gutter;
  }
}

.main, .caption {
  @include span-columns(12);
  @include omega();
  display: block;
  text-align: center;

  img {
    max-height: $max-width * 0.75;
  }
}

.thumbnail {
  @include span-columns(2);
  &:nth-of-type(6n) {
    @include omega();
  }

  display: inline-block;
  height: 250px;
  overflow: hidden;

  img {
    height: 150px;
    width: 150px;
  }

  .loaded {
    animation: fadein 2s;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
}

form {
  @include span-columns(12);

  fieldset {
    @include span-columns(6 of 12);
    &:nth-of-type(2n) {
      @include omega();
    }
  }

  label.error {
    opacity: 0;
    transition: all 1s ease;
    text-align: center;
    color: $error-color;
    font-size: 80%;
    &.present {
      opacity: 1;
    }
  }


  .controls {
    button, select, label {
      @include shift(2 of 6);
      @include span-columns(2 of 6);
      @include omega();
      margin-bottom: $gutter/4;
    }

    button {
      border-radius: $border-radius;
      cursor: pointer;
    }

    select, button {
      background-color: $ui-bg-color;
      outline: none;
      text-align: center;
      border: none;
      padding: $gutter / 8;
    }
  }


  .attributes {
    ul {
      @include span-columns(6 of 6);
      @include omega();
    }

    li {
      @include span-columns(6 of 6);
      @include omega();
      list-style-type: none;

      margin-bottom: $gutter/8;

      label {
        @include span-columns(2 of 6);
        text-align: right;
        display: block;

        &.error {
          @include span-columns(3 of 6);
          @include shift(2);
          @include omega();
        }
      }

      input {
        @include span-columns(3 of 6);
        display: block;
        outline-color: darken($ui-bg-color, 10);
      }

      a {
        @include span-columns(1 of 6);
        @include omega();
        font-size: 60%;
        display: block;
      }
    }
  }


}
